body
{
    text-align: center;
    min-width:576px;
    margin:0 auto;
}

.controls
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
}
.card
{
    border: solid 2px black;
    margin: 10px;
    padding: 10px;
}
ul
{
    padding-inline-start: 0px;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr;
}

button
{
    width: 400px;
    margin: 10px;
    font-size: large;
}

@media screen and (min-width: 576px) and (max-width: 959px)
{
    ul
    {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 960px)
{
    ul
    {
        grid-template-columns: 1fr 1fr 1fr;
    }
}